.navbar {
  margin: -7px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  font-family: Arial
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

.dropdown {
  overflow: hidden;
  float: left
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;

  margin: 0;

}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.cartbtn {
  margin: 5px;
}

.container {
  margin: -10px;
  margin-bottom: 40px;
  padding: 70px;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  font-family: Arial;
}

.container h1 {
  font-size: 60px
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.miniCont {
  margin-top: 40px;
  height: 380px;
  width: 270px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  font-family: Arial;
}


.product {
  height: 180px;
  width: 100%;
  object-fit: cover
}

.productContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}